In [1]:
import pandas as pd
from IPython.display import display

# Sample dataset
jobs_df = pd.DataFrame({
    "role": ["Data Analyst", "Data Scientist", "Backend Developer"],
    "skills_needed": ["Python, SQL, Excel", "Python, ML, SQL", "Java, SQL"],
    "salary": [60000, 85000, 70000]
})

# Let user enter skills
my_skills = input("Enter your skills separated by commas: ")  # e.g., Python, SQL

# Convert skills string to list
skills_list = [skill.strip() for skill in my_skills.split(",")]

# Filter jobs
filtered_jobs = jobs_df[jobs_df['skills_needed'].apply(lambda x: all(skill in x for skill in skills_list))]

# Display results
print("Jobs you qualify for:")
display(filtered_jobs[['role', 'salary']])

# Average salary
if not filtered_jobs.empty:
    avg_salary = filtered_jobs['salary'].mean()
    print(f"Average Salary: ${avg_salary:,.0f}")
else:
    print("No matching jobs found.")

Enter your skills separated by commas:  Python

Jobs you qualify for:

             role  salary
0    Data Analyst   60000
1  Data Scientist   85000

Average Salary: $72,500